<!DOCTYPE html>
<html lang="en-US">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <%- include("../partials/header") %>
    <main class="container">
      <p class="center">My favorite twitter handles</p>
      <% const COLUMN_COUNT = 3 %>
      <% const columns = createColumns(favoriteTwitterHandles, COLUMN_COUNT) %>
      <div class="container row">
        <% columns.forEach(column => { %>
          <ul class= "col s4" >
            <% const{ fro, to } = column %>
            <% for(let twitterHandle = fro; twitterHandle <= to; twitterHandle++){ %>
              <li>
                <% const handle = favoriteTwitterHandles[twitterHandle] %>
                <% const endPoint = `/status/${handle.slice(1, handle.length)}` %>
                <a href= <%= endPoint %>> <%= handle %> </a>
              </li>   
            <% } %>

          </ul>
        <% }) %>
        </div>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
