<!DOCTYPE html>
<html lang="en-US">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <%- include("../partials/header") %>
    <main class="container">
      <p class="center">My favorite twitter handles</p>
      <% const COLUMN_COUNT = 3 %>
      <% const columns = createColumns(favoriteTwitterHandles, COLUMN_COUNT) %>
      <% const innerWrapperClass = `col s${12/COLUMN_COUNT}` %>
      <div class="container row">
        <% columns.forEach(column => { %>
          <ul class= <%= innerWrapperClass %> >
            <% const{ fro, to } = column %>
            <% for(let twitterHandle = fro; twitterHandle <= to; twitterHandle++){ %>
              <li>
                <a href="#"> <%= favoriteTwitterHandles[twitterHandle] %> </a>
              </li>   
            <% } %>

          </ul>
        <% }) %>
        </div>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
